<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" layout:decorate="~{layouts/basic}">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <title>Title</title>
    <th:block layout:fragment="mystyle"></th:block>
</head>
<body>
<div layout:fragment="content" class="m-4">
    <h1>회원가입</h1>
    <hr>
    <form id="memberForm" th:action="@{/members/new}" th:object="${memberDTO}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" th:field="*{password}">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}">
            <!-- 중복 체크 및 에러 메시지 -->
            <div id="emailErrorCheck" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"></div>
            <div id="emailCheck" class="fieldError"></div>
        </div>
        <div class="mb-3">
            <input type="button" id="idCheck" class="btn btn-info" value="email 중복 체크"/>
        </div>


        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="address" th:field="*{address}">
            <div if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-sm">가입하기</button>
            <button type="button" class="btn btn-success btn-sm" onclick="location.href='login'">로그인</button>
        </div>
        <!-- CSRF토큰: Cross-site Request Forgery(크로스 사이트간 요청 위조)
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
    </form>
</div>
<script layout:fragment="myscript" th:inline="javascript">
    var idCheck = document.querySelector("#idCheck");
    var emailCheck = document.querySelector("#emailCheck");
    var emailErrorCheck = document.querySelector("#emailErrorCheck");

    idCheck.addEventListener("click", function(event) {
        var email = emailCheck.value;

        if (email) {

        }
    });
</script>
<script src="js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="js/scripts.js" th:src="@{/js/scripts.js}"></script>
</body>
</html>